@using StartupProject_Asp.NetCore_PostGRE.Data.Models.Identity
@model IEnumerable<Role>
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@*
<p>
    <a asp-action="Create">Create New</a>
</p>
*@
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="RoleClaim" asp-action="Manage" asp-route-id="@item.Id">Manage Claims</a>
                </td>
            </tr>
        }
    </tbody>
</table>
