@model Dictionary<string, List<ManageRoleClaimsViewModel>>
@{
    ViewData["Title"] = "Manage";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">@*Self Post, so no action needed*@
    <div class="card">
        <div class="card-header">
            <h2>Manage Role Claims</h2>
            Add/Remove Claims for @(ViewBag.role.Name + "-" + ViewBag.role.Description)
        </div>
        <div class="card-body">
            <input name="roleId" type="hidden" value="@ViewBag.role.Id">

            @{ int i = 0;}
            @foreach (var items in Model)
            {
                <ul>
                    <li>
                        <div>
                            <strong>@items.Key</strong>
                        </div>
                        @foreach (ManageRoleClaimsViewModel item in items.Value)
                        {
                            <div class="form-check m-1 input-group">
                                <input type="hidden" name="[@i].RoleId" asp-for="@item.RoleId" />
                                <input type="hidden" name="[@i].ClaimType" asp-for="@item.ClaimType" />
                                <input type="hidden" name="[@i].ClaimValue" asp-for="@item.ClaimValue" />
                                <input name="[@i].Selected" asp-for="@item.Selected" class="form-check-input" />
                                <label class="form-check-label" asp-for="@item.Selected">
                                    @*@( item.ClaimType + " - " + item.ClaimValue )*@
                                    @item.ClaimValue
                                </label>
                            </div>
                            i++;
                        }
                    </li>
                </ul>
            }

            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-controller="RoleManager" asp-action="Index" class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>